@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Libre+Franklin:ital,wght@0,100..900;1,100..900&family=Poppins&display=swap" rel="stylesheet');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Libre Franklin", sans-serif;
    font-weight: 300;
}
.container{
    display: flex;
    align-items: center;
    justify-content: center;
    /* height: 20vh; */
}
.container .sub-container{
    text-align: center;
}

.sub-container img{
    margin: 30px 0;
}

.sub-container h1{
    color: hsl(0, 0%, 59%);
    font-size: 40px;
}
.sub-container span{
    color: hsl(209, 33%, 12%);
    font-weight: 700;
}
.sub-container p{
    margin: 15px 0;
}
.sub-container .forms-container{
    margin-top: 40px;
}
.sub-container .forms-container input{
    width: 350px;
    height: 40px;
    border-radius: 30px;
    border: 1px solid hsl(223, 100%, 88%);
    color: hsl(223, 100%, 88%);
    outline: none;
    padding-left: 20px;
}
.sub-container .forms-container input::placeholder{
    color: hsl(223, 100%, 88%);
}
.sub-container .forms-container .err-msg{
    font-size: 10px;
    color: red;
    display: none;
    position: absolute;
    top: 240px;
    left: 480px;
}
.sub-container .forms-container button{
    width: 150px;
     height: 40px;
     border-radius: 30px;
     margin-left: 10px;
     background-color: hsl(223, 87%, 63%);
     color: white;
     border: none;
     outline: none;
     cursor: pointer;
}
.sub-container .dashboard-img{
    width: 500px;
    margin-top: 50px;
}

.sub-container .icons{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.sub-container .icons .sub-i{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    padding: 5px;
    cursor: pointer;
    box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.2);
}
.sub-container .icons .sub-i i{
    color: hsl(223, 87%, 63%);
}
.sub-container .icons .sub-i:hover{
    color: white;
    background-color: hsl(223, 87%, 63%);
}
.sub-container .icons .sub-i:hover i{
    color: white;
}
.sub-container .copy{
    color: hsl(0, 0%, 59%);
    opacity: 0.5;
}


@media screen and (max-width: 500px){
    .container{
    display: flex;
    align-items: center;
    justify-content: center;
}
.container .sub-container{
    text-align: center;
}
.sub-container img{
    margin: 30px 0;
}
.sub-container h1{
    color: hsl(0, 0%, 59%);
    font-size: 30px;
}
.sub-container span{
    color: hsl(209, 33%, 12%);
    font-weight: 700;
}
.sub-container p{
    margin: 15px 0;
}
.sub-container .forms-container{
    margin-top: 40px;
}
.sub-container .forms-container input{
    width: 350px;
    height: 40px;
    border-radius: 30px;
    border: 1px solid hsl(223, 100%, 88%);
    color: hsl(223, 100%, 88%);
    outline: none;
    padding-left: 20px;
}
.sub-container .forms-container input::placeholder{
    color: hsl(223, 100%, 88%);
}
.sub-container .forms-container .err-msg{
    text-align: start;
    font-size: 10px;
    color: red;
    margin-left: 20px;
    display: none;
    position: absolute;
    top: 230px;
    left: 100px;
}
.sub-container .forms-container button{
    width: 350px;
     height: 40px;
     border-radius: 30px;
     margin-top: 30px;
     background-color: hsl(223, 87%, 63%);
     color: white;
     border: none;
     outline: none;
     cursor: pointer;

}
.sub-container .dashboard-img{
    width: 400px;
    margin-top: 50px;
}

.sub-container .icons{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.sub-container .icons .sub-i{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    padding: 5px;
    cursor: pointer;
    box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.2);
}
.sub-container .icons .sub-i i{
    color: hsl(223, 87%, 63%);
}
.sub-container .icons .sub-i:hover{
    color: white;
    background-color: hsl(223, 87%, 63%);
}
.sub-container .icons .sub-i:hover i{
    color: white;
}
.sub-container .copy{
    color: hsl(0, 0%, 59%);
    opacity: 0.5;
}

}